<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438948059108-p971v735vjntgcmp60n1ngu9h6eljgsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438948059108-p971v735vjntgcmp60n1ngu9h6eljgsv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438948059108-o3dhtci6lds8i7i6i181hp65qdll6pbm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ApimkU3Z0Spewh-L4v5iGddukMHp7iw</string>
	<key>GCM_SENDER_ID</key>
	<string>438948059108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beacon</string>
	<key>PROJECT_ID</key>
	<string>beacon-272306</string>
	<key>STORAGE_BUCKET</key>
	<string>beacon-272306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438948059108:ios:44d691809405accbacd9f1</string>
	<key>DATABASE_URL</key>
	<string>https://beacon-272306.firebaseio.com</string>
</dict>
</plist>